DB_HOST=mysql.talmax-ti.com.br
DB_USER=talmaxti03
DB_PASSWORD=sua_senha_do_banco
DB_NAME=talmaxti03
PORT=5000
NODE_ENV=production
ADMIN_JWT_SECRET=4f8c9a7b2d1e6f3a9c0b5d7e2f4a8c1e6b3d9f2a7c5e1b8d4f0a6c2e9b7d3f1a
ADMIN_JWT_EXPIRES_IN_SECONDS=28800
CORS_ALLOWED_ORIGINS=https://talmax-ti.com.br,https://www.talmax-ti.com.br
